<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYx6uhK_K-oYbZ1WqmrptL1JLO_zpEVdY</string>
	<key>GCM_SENDER_ID</key>
	<string>973377612383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dispill.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dispill-alar</string>
	<key>STORAGE_BUCKET</key>
	<string>dispill-alar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973377612383:ios:82f2d1cde67ef561be49ea</string>
</dict>
</plist>